body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top right, #f8ffcc 35%, #c495db);			/* FADED BACKGROUND #82f4ff 30%, #ddb1fc  /   #71d9e3  30%, #ffffff 55%, #ddb1fc   */
  margin: 0;
  padding: 0;
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: bold;
  color: #333333;																/* TITLE */
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.portfolio-nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.portfolio-nav ul li {
  display: inline;
  margin-right: 20px;
}

.portfolio-nav ul li a {
  color: #666666;																/* TEXT */
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.portfolio-nav ul li a:hover {
  color: #333333;																/* DARK GREY */
}

.portfolio-section {
  background-image: linear-gradient(to top right, #c495db, #a7ebd7);		/* ddb1fc SECTION BACKGROUND */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 40px;
}

.portfolio-content {
  text-align: center;
}

.portfolio-description {
  font-size: 18px;
  color: #666666;																/* ABOUT ME TEXT */
  line-height: 1.6;
  margin-bottom: 30px;
}

.project-container {
  background-image: linear-gradient(to bottom right, #dddddd, #bbbbbb);			/* SECTION FOREGROUND */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: float 5s ease-in-out infinite alternate;
  margin-bottom: 20px;
}

.project-title {
  font-size: 36px;
  font-weight: bold;
  color: #666666;																/* SECTION TITLE */
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-description {
  font-size: 18px;
  color: #777777;																/* SECTION DESCRIPTION */
  line-height: 1.6;
  margin-bottom: 30px;
}

.project-link {
  display: inline-block;
  padding: 14px 28px;
  background-image: linear-gradient(to top right, #ddb1fc 10%, #71d9e3);		/* BUTTON BACKGROUND */
  color: #ffffff;																/* WHITE */
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #b0ebe0;													/* BUTTON BORDER */
  overflow: hidden;
}

.project-link:hover {
  background-image: linear-gradient(to top right, #b288cf 10%, #62bcc4);		/* DARKER ON HOVER */
  color: #ffffff;																/* WHITE */
}

.project-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #007bff;													/* WHITE */
  border-radius: 50%;
  transition: all 0.5s ease;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}
/*
.project-link:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
*/
.project-link span {
  position: relative;
  z-index: 1;
}
