body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ddb1fc;
  margin: 0;
  padding: 0;
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.portfolio-nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.portfolio-nav ul li {
  display: inline;
  margin-right: 20px;
}

.portfolio-nav ul li a {
  color: #666666;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.portfolio-nav ul li a:hover {
  color: #333333;
}

.portfolio-section {
  background-color: #37deaf;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 40px;
}

.portfolio-content {
  text-align: center;
}

.portfolio-description {
  font-size: 18px;
  color: #ddb1fc;
  line-height: 1.6;
  margin-bottom: 30px;
}

.project-container {
  background-color: #37deaf;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: float 5s ease-in-out infinite alternate;
  margin-bottom: 20px;
}

.project-title {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-description {
  font-size: 18px;
  color: #ddb1fc;
  line-height: 1.6;
  margin-bottom: 30px;
}

.project-link {
  display: inline-block;
  padding: 14px 28px;
  background-color: #007bff; /* Original blue */
  color: #ddb1fc;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #007bff;
  overflow: hidden;
}

.project-link:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
  color: #ddb1fc;
}

.project-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #007bff;
  border-radius: 50%;
  transition: all 0.5s ease;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}
/*
.project-link:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
*/
.project-link span {
  position: relative;
  z-index: 1;
}
